html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
#images-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	width: max-content;
}
.image {
	flex-shrink: 0;
}
#loader-input {
	width: 100%;
}
#page-selector-container {
	display: flex;
	width: 100%;
	align-items: center;
}
.page-selector-page {
	border: 1px solid red;
	flex: 1 1 0;
	height: 20px;
}
.panel {
	display: flex;
	position: fixed;
	border: solid;
	background-color: white;
}
.panel.vertical {
	flex-direction: column;
}
.panel.horizontal {
	flex-direction: row;
}
.panel-toggler {
	position: fixed;
	border: solid;
	background-color: white;
}
.panel-toggler.invisible {
	opacity: 0;
}
